<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs", {title: 'Budget - New Item'}) %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="container">
    <h1>New Budget Item</h1>
        <form action="/budgets" method="POST">
            <p><label>Date:</label> <input type="date" name="date" /></p><br>
            <p><label>Name:</label> <input type="text" name="name" /></p><br>
            <p><label>Amount:</label> <input type="number" name="amount" /></p><br>
            <p><label>From:</label> <input type="text" name="from" /></p><br>
            <p><label>Submit:</label> <input type="text" name="submit" /></p><br>
            <p><label>tags:</label> <input type="text" name="tags" /><input type="text" name="tags" /><input type="text" name="tags" /></p><br>
            <input type="submit" value="Create Budget"/>
    </div>
    </form>
    <%- include("./partials/footer.ejs") %>
</body>
</html>